
header {
    height: 100px;
    background-color: rgb(250, 174, 231);
}

.d-block{
    height: 600px;
}

.b0{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: normal;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
 main{
    background-color: rgb(250, 174, 231);
    

 }
.container-menu{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
.container-list
{
    font-style: normal;
}
.carousel-item{
    color: #000;

}
.container-card{
    margin-top: 150px;
    
}
.card-body{
    background-color: rgb(250, 174, 231);
}

.dnoo {

    background-color: #000;
}
.carousel-caption {
    color: #000;

}